services:
  yolo26:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yolo26_ros1
    network_mode: host

    # まずは確実に
    privileged: true
    # Compose v2系（docker compose）ならこれでGPUが効きます
    gpus: all
    
    environment:
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_IP=127.0.0.1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video

      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      # ここを実ファイルに。無い場合は ultralytics がDLしようとする
      - YOLO_MODEL=/workspace/weights/yolo26n.pt
      - YOLO_CONF=0.25
      - YOLO_DEVICE=0   # GPU:0 / CPUなら "cpu" / autoなら空
      - PYTHONPATH=/opt/venv/lib/python3.8/site-packages

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./weights:/workspace/weights:rw
      - ./runs:/workspace/runs:rw
      - /dev:/dev
    command:
      [
       "/bin/bash", "-lc", "source /opt/ros/noetic/setup.bash && source /catkin_ws/devel/setup.bash && roslaunch yolo26_ros1 yolo26.launch"]

#    command:
#      [  
#       "bash","-lc",
#        "source /opt/ros/noetic/setup.bash && roslaunch yolo26_ros1 yolo26.launch"
#      ]
    restart: unless-stopped

